.league-rules-container{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .rules-image-container{
        width: 12rem;
        height: 18rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    ul{
        width: 90%;
        height: 12rem;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }

    .rules-buttons-container{
        height: 3rem;
        width: 80%;
        display: flex;
        justify-content: space-around;

    }
}