.top-three-container{
    width: 100%;
    min-height: 20rem;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;

    .each-top-container{
        width: 10rem;
        height: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        .top-three-image{
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            overflow: hidden;
            .MuiAvatar-root{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .top-three-details{
            width: 100%;
            height: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3px;
            font-size: 0.8rem;
            p{
                color: white;
            }
            h3{
                color: salmon;
                font-size: 1.2rem;
            }
            .MuiSvgIcon-fontSizeSmall{
                color: gold;
                font-size: 1.3rem;
            }
        }
       

        .medal-image{
            width: 4rem;
            height: 4rem;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    
    .first-position{
        height: 18rem;
        .top-three-image{
            width: 7rem;
            height: 7rem;
        }
    }
    

}


@media(min-width : 960px){
    .top-three-container{
        width: 80%;
    }
}

@media(min-width : 1200px){
    .top-three-container{
        width: 70%;
    }
}