.other-ranks-container{
    width: 100%;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .each-rank-container{
        height: 4rem;
        width: 95%;
        border: 1px solid;
        border-color: inherit;
        border-radius: 15px;
        margin: 10px 0;
        box-shadow: 3px 8px #888888;
        
        .MuiSvgIcon-fontSizeSmall{
            color: gold;
            font-size: 1.3rem;
        }

        a{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          text-transform: capitalize;
        }

        .MuiAvatar-root{
          width: 30px;
          height: 30px;
        }

    }
}

@media(min-width : 960px){
  .other-ranks-container{
    width: 80%;
  }
}

@media(min-width : 1200px){
  .other-ranks-container{
    width: 70%;
  }
}

