.email-form-container{
   // background: url('./assets/background.jpg');
   
    background-color: rgba(0,0,0,0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 60vh;
    border-radius: 30px;
}
