.options-container{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: inherit;

    .life-lines-container{
        width: 90%;
        height: 4rem;
        background: inherit;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
}

@media(max-width : 800px) and (orientation: landscape) {
    .options-container{
        .life-lines-container{
            height: 5rem;
        }
    }
}
@media(min-width : 760px){
    .options-container{
        height: 35rem;
        width: 80%;
    }
}

@media(min-width : 960px){
  .options-container{
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
  }
}


@import './each_option/EachOption';
@import './life_lines/fifty_fifty/FiftyFifty';
@import './life_lines/hints/Hints'