* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

// background colors
$greyDark : rgb(75, 73, 73);
$greyLight : rgb(223, 221, 221);

// text colors
$textDark : rgb(75, 73, 73);
$textLight : rgb(228, 228, 228);


.lightTheme {
    background-color: $greyLight;
    color: $textDark;
}
.darkTheme {
    background-color: $greyDark;
    color: $textLight;
}

h1{
    font-size: 1.5rem;
    font-weight: 500;
  }
