* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body, .App {
    min-height: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.App{
    background-color: yellow;
    margin: 0;
}
a {
    text-decoration: none;
}

// background colors
$greyDark : rgb(75, 73, 73);
$greyLight : rgb(223, 221, 221);

// text colors
$textDark : rgb(75, 73, 73);
$textLight : rgb(228, 228, 228);


.lightTheme {
    background-color: $greyLight;
    color: $textDark;
}
.darkTheme {
    background-color: $greyDark;
    color: $textLight;
}
.darkBlueTheme {
  background-color: #262626;
  color: $textLight
}

.lightBlueTheme{
    background-color:#A8A8A8;
    color: $textDark
}

h1{
    font-size: 1.3rem;
    font-weight: 500;
}
button{
    display: block !important;
}
