@import './Universal';
@import '../components/navbar/NavBar';
@import '../components/homepage/HomePage';
@import '../components/footer/Footer';
@import '../components/game/GameQuestions.scss';
@import '../components/instructions/instructions';
@import '../components/profile/ProfilePage';
@import '../components/auth/sign_up/SignUp';
@import '../components/auth/sign_in/SignIn';
@import '../components/about/AboutPage';
@import '../components/settings/Settings';
@import '../components/loader/Loader';
@import '../components/league/rules/LeagueRules';
@import '../components//users/UsersPage';
@import '../components/league_table/LeagueTable';
@import '../components/admin/Admin';
@import '../components/buy_coins/BuyCoins';

.page-section {
    margin-top: 10vh;
    min-height: 90vh;
    width: 100%;
}

body {  
    .payment-modal-container{
        margin-top: 3rem;
        width: 80%;
        min-height: 80vh;
        background-color: rgb(53, 52, 52);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: salmon;
        border-radius: 25px;
        outline: none;

        .transaction-details-container{
            height: 15rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 25px;
        }

        .coins-status-container{
            height: 5rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }


    .view-image-container{
        max-width: 90%;
        max-height: 80vh;
        outline: none;
        //border: 2px solid saddlebrown;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


@media(min-width : 1200px) {
    body{
        .view-image-container{
            max-width: 70%;
            max-height: 80vh;
        }
        
    }
}


@media(min-width : 500px) and (orientation: landscape) {
    .page-section{
        margin-top: 12vh;
    }
}