@import './Universal';
@import '../components/navbar/NavBar';
@import '../components/homepage/HomePage';
@import '../components/footer/Footer';
@import '../components/game/GameQuestions.scss';
@import '../components/instructions/instructions';

.page-section {
    margin-top: 10vh;
    min-height: 90vh;
    width: 100%;

}
@media(min-width : 500px) and (orientation: landscape) {
    .page-section{
        margin-top: 12vh;
    }
}