@import './Universal';
@import '../components/navbar/NavBar';
@import '../components/homepage/HomePage';
@import '../components/footer/Footer';
@import '../components/game/GameQuestions.scss';
@import '../components/instructions/instructions';
@import '../components/profile/ProfilePage';
@import '../components/auth/sign_up/SignUp';
@import '../components/auth/sign_in/SignIn';
@import '../components/about/AboutPage';
@import '../components/settings/Settings';
@import '../components/loader/Loader';
@import '../components/league/rules/LeagueRules';
@import '../components//users/UsersPage';
@import '../components/league_table/LeagueTable';
@import '../components/admin/Admin';

.page-section {
    margin-top: 10vh;
    min-height: 90vh;
    width: 100%;

}

body { 
    .view-image-container{
        width: 90%;
        height: 80vh;
        border: 2px solid saddlebrown;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


@media(min-width : 1200px) {
    body{
            .view-image-container{
                width: 35%;
                height: 80vh;
            }
        
    }
}


@media(min-width : 500px) and (orientation: landscape) {
    .page-section{
        margin-top: 12vh;
    }
}