.details-container {
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
@media(max-width : 800px) and (orientation: landscape) {
    .details-container{
        height: 5rem;
    }
}

@import './coins/Coins';
@import './timer/Timer'