.game-container{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    //position: relative;
    
    video {
      min-width: 100%;
      min-height: 90vh;
      z-index: 0;
    }
    .quiz{
      position: absolute;
      z-index: 0.5;
      height: 80vh;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background: inherit;
      border-radius: 20px;
      padding: 10px 0;
    }

}

@media(max-width : 800px) and (orientation: landscape) {
  .game-container{
    min-height: 50rem;
    
    video {
      min-height: 50rem;
    }
    .quiz{
      //position: absolute;
      height: 40rem;
      width: 80%;
    }

}

}

@media(min-width : 760px){
  .game-container{
   .quiz{
     width: 80%;
   }
  }
}

@media(min-width : 1200px){ 
  .game-container{
    .quiz{
      width: 70%;
    }
   }

}

@import './options/Options';
@import './question/Question';
@import './game_details/GameDetails';
@import './game_stats/GameStats'