.game-container{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex: 1;
    //overflow: hidden ;
    align-items: center;
    position: relative;

    .each-question-container{
      height: 85vh;
      width: 90vw;
      text-align: center;
      background: #52C0F5;
      color: #FFF;
      font-size: 12px;
      text-transform: uppercase; 
    }

}

@import './each_question/EachQuestion.scss'