.post-jamb-section {
    height: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    .post-jamb-image{
        width: 70%;
        height: 12rem;
        img{
            width: 100%;
            height: 100%;
        }
    }

}


@media(min-width : 768px){
    .post-jamb-section{
        p{
            font-size: 1.1rem;
        }
    }
}


@media(min-width : 968px){
    .post-jamb-section{
       height: 30rem;
       .post-jamb-image{
           height: 13rem;

       }
        p{
            font-size: 1.2rem;
        }
    }
}