nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    box-shadow: 0 8px 6px -6px black;
    z-index: 1;
}
.lightTheme {
    background-color: $greyLight;
    color: $textDark;
}
.darkTheme {
    background-color: $greyDark;
    color: $textLight;
}

.menu-con {
   width: 15%;
}

.theme-con {
    width: 40%;
}

.auth-con {
    width: 15%;
}

.nav-div {
    display: flex;
    flex-direction: column;
}

@media(min-width : 500px) and (orientation: landscape) {
    nav {
        height: 12vh;
    }
}

@import './backdrop/BackDrop';
@import './navlinks/NavLinks'