.profile-settings-container{
   width: 100%;
   height: 70rem;
   display: flex;
   flex-direction: column;
   align-items: center;

    .profile-settings-form{
        width: 80%;
        height: 65rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: inherit;
        padding-bottom: 10px;

        button{
            margin-top: 2rem;
        }
    }
    .MuiInput-underline:before{
        color: inherit !important;
    }
    
    .MuiInputBase-root{
        color: inherit;
    }
    .MuiFormLabel-root{
        color: inherit;
    }
    .MuiInput-underline:before{
        border-bottom: 1px solid salmon;
    }
    .MuiFormLabel-root.Mui-focused{
        color: inherit;
    }
    .MuiRadio-root{
        color: inherit;
    }
}