.question-container{
    width: 95%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    color: inherit;
    
    h3{
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
    }
}

@media(min-width : 960px){
  .question-container{
    height: 5rem;
    h3{
      font-size: 1.3rem;
    }
  }
}

@media(min-width : 1200px){
  .question-container{
    height: 10rem;
    h3{
      font-size: 1.2rem;
    }
  }
}
