.league-table-container{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        color: salmon;
        padding-bottom: 2px;
        border-bottom: 1px solid salmon;
     }
}

@media(min-width : 760px){
    
}

@import './top_three/TopThree';
@import './other_ranks/OtherRanks';
@import './count-down/CountDown'