footer {
    width: 100%;
    min-height: 100vh;
    background: url('./assets/dark_footer.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@import './about/About'