.demo-section {
    height: 25rem;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .demo-image{
        width: 80%;
        height: 10rem;
        img{
            width: 100%;
            height: 100%;
        }
    }

}

@media(min-width : 500px) and (orientation: landscape) {
    .demo-section{
        width: 45%;
    }
}
