.payment-coins-container{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('./assets/coins_background.jpg');
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;

    .coins-details-container{
         margin: 1rem 0;
    }

    .payment-options-container{
      width: 100%;
      min-height: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    .payment-button{
        button{
            width: 8rem;
            height: 3rem;
            background-color: rgb(128, 35, 25);
            color: white;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            cursor: pointer;

            span{
                padding-right: 4px;
            }
        }

        button:hover{
            background-color: rgb(46, 6, 1);
        }
        button:disabled{
            background-color: darkgray;
           // color: white;
        }
    }
}